.gform_wrapper, .gform_footer {
  margin: 0 !important;
  padding: 0 !important;
}
.gform_wrapper{
  .hidetitle{
    .gfield_label{
      display: none !important;
      .gfield_required{

      }
    }
  }
}
.gform_wrapper {
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
  textarea{
    font-size: inherit;
    font-family: inherit;
    letter-spacing: normal;
    background: #fafafa;
    border-radius: 2px;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .4);
    border: none;
    border-bottom: 1px solid #e7e7e7;
    line-height: 40px;
    padding: 0 8px;
  }
}
.gfield{
  margin-top: 2px !important;
  margin-bottom: 20px;
}
.ginput_container_checkbox{
  margin-top: -5px !important;
}