// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
.aligncenter {
  display: block;
  margin: auto;
}
.alignleft,
.alignright {
}
@media (min-width: $grid-tablet-breakpoint) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
}

// Captions
/*
.wp-caption {
  @extend .thumbnail;
}
*/
.wp-caption-text {
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}
