.music,
.events,
.single-event{
  main.mdl-layout__content .mdl-grid main.mdl-cell {
    background-color: transparent !important;
    h1{color: #fff}
    h2,h3,h4,h5,h6{
      color: $brand-secondary;
    }
  }
}
#eventsWrap{
  article{
    background-color: #fff;
    display: flex;
    box-shadow: 0 3px 6px rgba(#000000, .6);
    margin-bottom: 20px;
    date{
      position: relative;
      flex-basis: 15%;
      background-color: $yellow;
      padding: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 16px;
      >*{
        display: block;
      }
      >*:first-child{
        margin-bottom: 7px;
      }
      > *:nth-child(2){
        line-height: 1;
        @include font-headline;
        font-size: 35px;
        text-transform: uppercase;
      }
      a{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
      }
      @include respond-to('xs') {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        > *{
          margin: 8px 5px 0 !important;
          @include font-headline;
          text-transform: uppercase;

        }
      }
    }
    .eventDetails{
      flex-basis: 65%;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px;
      >*{margin-bottom: 0}
    }
    a.eventImg{
      position: relative;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 20%;
      max-width: 20%;
      background-size: cover;
      background-position: center;
      &:before{
        width: 50px;
        height:50px;
        top:50%;
        left:50%;
        position: absolute;
        font-size: 40px;
        transform: translate(-50%, -50%);
        text-shadow: 0 2px 4px rgba(#000000, .6);
      }
      @include respond-to('xs') {
        width: 100%;
        height: 200px;
      }
    }
    @include respond-to('xs') {
      flex-wrap: wrap;
      > * {
        flex-basis: 100% !important;
        max-width: 100% !important;
      }
    }
  }
}
//list view
#em-wrapper{
  .css-events-list{
    h2{
      margin-bottom: 20px;
      @include respond-to('m'){
        text-align: center;
      }
    }
  }
}
.single-event{
  .sharedaddy{
    ul{text-align:center;}
  }
  .page-header{
    display: none;
  }
  .the_content{
    //padding: 0 !important;
  }
  #events{
    #eventsWrap{
      article{
        background-color: transparent;
        box-shadow:none;
        align-items: flex-start;
        @include respond-to('xs'){
          flex-direction: column;
        }
        date{
          line-height: 1;
          font-size: 18px;
          padding:30px 10px;
          @include respond-to('xs'){
            transform: translate(-10px, 20px);
            flex-direction: column;
            width: 50%;
            align-items: flex-start;
            padding: 15px 10px;
            box-shadow: 0 2px 10px rgba(#000000, .3);
            >*{margin-top: 0 !important;}
          }
          @include respond-to('xs'){width: 75%;}
        }
        .eventDetails{
          flex-basis: 60%;
          box-shadow: 0 3px 6px rgba(#000000, .6);
          background-color: #fff;
          >*, iframe{max-width: 100% !important;}
        }
        a.eventImg{
          flex-basis: 25%;
          max-width: 25%;
          &:after{
            content: '';
            display: block ;
            float: left;
            padding:50% 0;
          }
          @include respond-to('xs'){
            width: 100%;
            max-width: 100%;
          }
        }
        @include respond-to('xs'){
          flex-direction: column;
          justify-content: center;
          > *{
            flex-basis: 100%;
            max-width: 100%;

          }
        }
      }
    }
  }
}

.widget_em_widget{
  text-shadow: none !important;
  color: $brand-primary !important;
  >h3{
    color: #fff;
    margin-bottom: 5px;
  }
  ul{
    padding:0;
    margin-top: 0;
  }
  li#eventsWrap{
    position: relative;
    list-style: none;
    article{
      margin-bottom: 10px;
    }
    &:last-of-type{
      article{
        margin-bottom: 0;
      }
    }
    > a{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
    }
  }
  .eventDetails{
    padding:15px 20px !important;
    h2{
      font-size: 30px;
    }
  }
  date{
    padding:20px 10px !important;
  }
}


a[href$="ical/"]{
  background-color: $brand-secondary;
  padding: 0 10px;
  margin: 5px auto 5px 0;
  max-width: 300px;
  color: $brand-white;
  font-size: 22px;
  line-height: 45px;
  &:hover{
    background-color: lighten($brand-secondary, 15%);
  }
}
