.mdl-mega-footer {
  background-color: transparent;
  ul {
    @extend .mdl-mega-footer__link-list;
  }
}

.mdl-mega-footer--heading-checkbox:checked ~ div,
.mdl-mega-footer__heading-checkbox:checked ~ div {
  display: none;

  @media screen and (min-width: 760px) {
    display: block;
  }
}

.mdl-mega-footer__drop-down-section > div:empty {
  display: none;
}

.mdl-mini-footer {
  .gform_wrapper {
    @extend .txtshadoww--headline;
    width: 500px;
    max-width: 100%;
    margin: 0 auto 40px;
    text-align: center;
    @include font-body;
    color: $brand-white;
    .gform_heading {
      margin-bottom: 0px;
      @include font-body;
      h3 {
        margin: 5px 0 5px 0;
        text-align: center;
        @include font-body;
      }
    }
    .gform_body {
      .hide-title {
        margin-top: 0;
        margin-bottom: -60px;
        label {
          display: none;
        }
        .ginput_container_email {
          margin-top: 0;
          input {
            padding: 0 5px;
          }
        }
      }
      .form_fields {
        margin: 0;
        .gfield {
          margin-top: 0;
          margin-bottom: 0;
          label {
            @include font-body;
          }
          .ginput_container {
            margin-top: 0;
            input {
              margin-top: 0;
              padding: 0px 5px;
            }
          }
          .ginput_container_checkbox {
            margin-top: 0 !important;
            margin-bottom: 20px !important;
            @include font-body;
            text-align: center !important;
            ul{
              text-align: center !important;
              li{
                text-align: center !important;

              }
            }

          }
        }
      }
    }
    .gform_footer {
      margin-top: -20px;
      text-align: center;
      input.button {
        width:80%;
        padding: 0 20px;
        text-transform: uppercase;
        line-height: 40px;
        height: 40px;
        text-align: center;
        margin-bottom: 0;
        font-size: 1.3em;
        text-align: center;
      }
    }
  }
  margin-top: 40px;
  padding:20px 15px;
  text-align: center;
  background-color: transparent;
  > div {
    display: block;
    width: 100%;
    color: $brand-white;
  }

  #phonedir{
    margin-bottom: 20px;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        margin:0 10px 0 0;
        display: inline-block;
        list-style: none;
        border-right:3px solid $brand-white;
        padding-right:10px;
        &:last-of-type{
          border-right:none;
        }

        @include respond-to('xs') {
          border-right:none;
        }
        a{
          @include font-headline;
          font-size: 1.8rem;
          @extend .txtshadoww--headline;
          color: $brand-white;
          &:hover{
            color:$brand-secondary;
          }
        }
      }
    }
  }
  #bAddress{
    margin-bottom: 20px;
    a{
      @include font-headline;
      font-size: 1.8rem;
      color:$brand-white;
      @extend .txtshadoww--headline;
      span{
        display: inline;
      }
      &:hover{
        color:$brand-secondary;
      }
    }
  }
  .s_icons{
    display: block;
  }
}
