// TODO CLEAN UP AND DRY OUT ALL OF THIS CODE -- SEPERATE FILES



.mdl-layout-title {
  color: inherit;
  text-decoration: none;
}

.menu-item {
  @extend .mdl-navigation__link;
}
.mdl-layout__header-row{
  .menu-item, .btn {
    line-height:45px;
    padding:0px 10px;
    margin:0 5px 0 0;
    font-size: 24px;
  }
  a.menu-item{
    padding:0 10px 0 40px;
    @include respond-to('sm') {
      font-size: 20px;
    }
    @include respond-to('xs') {
      width:40px;
      color: transparent;
      padding:0;
    }
  }
}




/*-- HEADROOM MOBILE HEAD HIDER PAGE STLYING --------------------------------------------*/
/*-- HEADROOM MOBILE HEAD HIDER PAGE STLYING --------------------------------------------*/
/*-- HEADROOM MOBILE HEAD HIDER PAGE STLYING --------------------------------------------*/
.headroom {
  @include transitionProperty((transform, background));
  @include transitionDuration(.5s);
  position: fixed;
  top:0px;
  right:0px;
  left:0px;
  background: $black-trans !important;
  z-index: 3;
}
.headroom--unpinned {
  @include transitionProperty((transform, background));
  @include transitionDuration(.5s);
}
.headroom--not-top.headroom--unpinned {
  transform: translateY(0%);
  @include transitionProperty((transform, background));
  @include transitionDuration(.5s);
  background: rgba(#000000, .8);
  @include respond-to('sm') {

  }
}
.headroom--pinned.headroom--top{
  transform: translateY(0%);
  @include transitionProperty((transform, background));
  @include transitionDuration(.5s);
  background: $black-trans !important;
  @include respond-to('sm') {

  }
}
.headroom--pinned {
  transform: translateY(0%);
  @include transitionProperty((transform, background));
  @include transitionDuration(.5s);
  background: $black-trans !important;
}
.headroom--top + .mdl-layout__drawer-button{

}
.headroom--top #mobile-Logo{
  transition: all .5s ease;
  opacity: 0;
  display: block;
  height: 100px;
  width: auto;
  max-width: 250px;
  float: left;
  position: relative;
  transform:translateY(-100%);
  margin-left: 0;

  a{
    width: 100%;
    height:100%;
    position: absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    img{
      width:100%;
    }
  }
  @include respond-to('md') {
    height: 80px;
  }
}

.headroom--not-top #mobile-Logo{
  transition: all .5s ease;
  opacity: 1;
  display: block;
  height: 100px;
  width: auto;
  max-width: 250px;
  float: left;
  position: relative;
  transform: translateY(27px);
  margin-left: 0;
  z-index: 9999;
  a{
    width: 100%;
    height:100%;
    position: absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    img{
      height:100%;
    }
  }
  @include respond-to('sm') {
    height: 80px;
    transform: translateY(15px);
  }
  @include respond-to('xs') {
    height: 70px;
    transform: translateY(10px);
  }
  @include respond-to('m') {
    display: none;
  }
}

/*-- HEADER STYLING
--------------------------------------------*/
/*-- HEADER STYLING
--------------------------------------------*/
#ic-header-wrap{
  .mdl-layout__header{
    min-height: 50px;
    .mdl-layout__header-row{
      height:50px;
      padding: 0 0 0 50px;
    }
    @include respond-to('md') {
      display: flex;
    }
    @include respond-to('sm') {
      display: flex;
      .hours{
        display: none;
      }
    }
    @include respond-to('xs') {
      .mdl-layout__header-row{
        > .s_icons{
          opacity: 0;
         display: none;
       }
      }
    }
  }
}


.open-light{
  position: relative;
  height: 40px;
  min-width: 20px;
  line-height: 40px;
  margin: 0 5px;
  border: 2px dotted red;
  padding:0;
  border-radius:5px;
  font-size:20px;
  text-align: center;
  .open-text{
    @include font-headline;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding:0 5px;
    margin-top: 25px;
    display: block;

  }
  &:before{
    position: absolute;
    top:5px;
    width:100%;
    text-align: center;
    line-height: 20px;
    left:0;
  }
  &.bh-open{
    background-color: rgba($brand-alt, .4);
    border: 1px solid $brand-alt;
    color: lighten(green, 50%);
    text-shadow: 0 0 6px $brand-alt;
    box-shadow:0 0 6px $brand-secondary;
  }
  &.bh-closed{
    border: 1px solid rgba($brand-alt, .3);
    color: rgba($brand-white, .3);
  }
}



/*-- DRAWER STLYING
--------------------------------------------*/
/*-- DRAWER STLYING --------------------------------------------*/
  //DRAWR BUTTON
  .mdl-layout__drawer-button{
    height:40px;
    width: 40px;
    margin: 5px;
    position: fixed;
    color: $brand-white;
    overflow: visible;
    .material-icons{
      font-size: 30px;
      color: $brand-white;
      width:40px;
      line-height: 27px;
      text-shadow: 0px 1px 2px #000;
    }
    &:after{
      content: 'MENU';
      position: absolute;
      height: 10px;
      vertical-align: middle;
      top: calc(100% - 15px);
      text-shadow: 0px 2px 3px #000;
      @include font-body;
      font-size: 10px;
      line-height: 10px;
      width: 100%;
      text-align: center;
    }
  }
  //DRAWR CONTENTS
  .mdl-layout__drawer{
    background-color: darken($brand-secondary, 40%);
    transform: translateX(-400px);
    width: 85%;
    max-width: 400px;
    position: fixed;
    border-right:none;
    .hours{
      margin-top: 15px;
      width:calc(100% - 40px);
      letter-spacing: .1px;
      color: white;
      font-size: 1.3em;
      line-height: 1.1;
      @include respond-to('m') {
        font-size: 1.1em;
      }
    }
    section.widget{
      @extend .clearfix;
      padding: 0 20px;
      .menu{
        text-align: center;
        padding: 0;
        display: inline-block;
        width:100%;
        text-align: center;
        .menu-item{
          list-style: none;
          line-height: 30px;
          height: 30px;
          margin-right: 0;
          display: inline-block;
          width:100%;
          padding:0;
          text-align: center;
          a{
            text-align: center;
            display: block;
            position: relative;
            @include font-body;
            text-transform: uppercase;
            color: $brand-white;
            font-size: 1.1rem;
            &:hover{
              color: $brand-secondary;
            }
          }
          .sub-menu{
            position: relative;
            @extend .clearfix;
            text-align: center;
            padding: 0;
            display: inline-block;
            .menu-item{

            }
          }
        }
      }
    }
    nav.mdl-navigation{
      position: relative;
      padding: 0 20px;
      width: 100%;
      height: auto;
      margin-top: 16px;
      a.menu-item{
        margin: 5px auto;
        padding: 0 10px 0 40px;
        max-width: 300px;
        color: $brand-white;
        font-size: 22px;
        line-height: 45px;
        &:hover{
         background-color: lighten($brand-secondary, 15%);
        }
      }
    }
    #drawer-mobile-Logo{
      @extend .clearfix;
      position: relative;
      width: 100%;
      padding: 0;
      height:auto;
      text-align: center;
      a{
        position: relative;
        height:auto;
        width: 100%;
        img{
          position: relative;
          width: 80%;
          height:auto;
        }
      }
    }
    #drawer-footer{
      position: relative;
      padding: 20px;
      width: calc(100% - 40px);
      height: auto;
      margin: 5px 0 10px;
      #phonedir{
        .phoneNumbers{
          margin:0;
          padding:0;
          text-decoration: none;
          display: block;
          text-align: center;
          li{
            list-style: none;
          }
        }
      }
      #bAddress{
        text-align: center;
        padding: 10px 20px;
        span{
          padding-right:5px;
          display: inline;
          &:last-of-type{
            padding-right:none;
          }
        }
      }
      #drawer-mobile-social{
        position: absolute;
        bottom:10px;
        left:0px;
        right: 0px;
        padding: 10px;
        width: 100%;
        .sicon {
          display: inline-flex;
          margin: 0px 5px;
          height: 30px;
          width: 30px;
          padding: 5px;
          @include border-radius(50%);
          border: 1px solid $primary-color;
          text-shadow: 0px 2px 1px rgba(#000, .9);
        }
      }
      .s_icons{
        display: block;
        text-align: center;
      }
    }
    
  }
.mdl-layout__obfuscator{
  position: fixed;
}



/*-- HEADER custom hours
--------------------------------------------*/




/*-- HERO BANNER STLYING
--------------------------------------------*/
/*-- HERO BANNER STLYING
--------------------------------------------*/
.banner-wrap{
  position: relative;
  width: 100%;
  height:auto;
  min-height: 300px;
  .hero-banner{
    @extend .clearfix;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
    bottom:0px;
    right:0px;
    background-size: cover;
    background-position: center center;
    display: block;
    z-index: 1;
    .primaryLogo{
      position: relative;
      display: block;
      height:200px;
      width:auto;
      margin:0 auto;
      top:60px;
    }
  }
  .hours{
    position: relative;
    width: 96%;
    text-align: center;
    z-index: 1;
    margin: 275px auto 5px;
    line-height:1.2;
    color: $brand-white;
    text-shadow: 0 2px 4px #000;
    display: block;
    padding: 0 5px;
    font-size: 1.8rem;
  }
  #bAddress{
    position: relative;
    margin:-5px auto 20px;
    z-index: 1;
    text-align: center;
    width: 96%;
    display: block;
    padding:0 5px;
    a{
      @include font-headline;
      font-size: 1.8rem;
      span{
        line-height:1.2;
        color: white;
        text-shadow: 0 2px 4px #000;
        display: inline;


      }
    }

  }
  @include respond-to('md') {
    min-height: 275px;
    .hero-banner{
      .primaryLogo{

      }
    }
  }
  @include respond-to('sm') {
    min-height: 275px;
  }
  @include respond-to('xs') {
    min-height: 250px;
    .hero-banner {
      .primaryLogo {

      }
    }
    .hours{
      margin-top: 270px;
      font-size: 1.3rem;
    }
    #bAddress{
      a{
        font-size: 1.4rem;
      }
    }
  }
  @include respond-to('m') {
    min-height: 235px;
    .hero-banner{
      .primaryLogo{
        height: 150px;
        max-width: 85%;
      }
    }
    .hours{
      margin-top: 220px;
      font-size: 1.2rem;
    }
    #bAddress{
      a{
        font-size: 1.2rem;
      }
    }
  }


}
