.error404, .archive, .search{
  main{
    background-color: $brand-white;
    padding: 40px;
    .page-header {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: 0 !important;
      h1 {
        color: $brand-primary !important;
        text-shadow: none !important;
      }
    }
  }
}
main.has_content{
  .page-header {
    padding: 30px 30px 0;
  }
}
.page-header {
  padding: 30px;
  h1{
    &:after{
      content: '';
      width: 100%;
      border-bottom: 1px solid $brand-alt;
      height:1px;
      position: relative;
    }
  }
  &.cm-bkg-trans{
    background-color: transparent;
  }
  &.cm-text-light{
    color: $brand-white;
    h1{
      color: $brand-white;
      @extend .txtshadoww--cardtitle;
    }
  }
}
