.post_featured_img{
  position: relative;
  width: 100%;
  max-width: 400px;
  float: left;
  margin: 0 15px 15px 0;
  padding: 0;
  img{
    max-width: 100%;
  }
  .post-figure-expand{
    position: absolute;
    width:100%;
    height:100%;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    &:before{
      position: absolute;
      width:100%;
      height:60px;
      font-size: 60px;
      text-align: center;
      line-height: 100%;
      top:50%;
      transform: translateY(-50%);
    }
  }
}
.archive{
  article{
    clear:both;
    margin-bottom: 30px;
    .post_featured_img{
      max-width: 275px;
    }
  }
  .posts-navigation{
    clear: both;
    width: 100%;
    .nav-links > div{
      @include transition(all, 0.5s);
      position: relative;
      text-transform: uppercase;
      a{
        color: $brand-alt;
      }
      &:before,
      &:after{
        position: absolute;
        @include transition(all, 0.5s);
        font: normal normal normal 14px/1 FontAwesome;
        top:2.5px;
        color: $brand-alt;
      }
      &:hover{
        font-weight: bold;
        &:before,
        &:after{
          transform: scale(1.2);
          transform-origin: center center;
        }
      }
    }
    .nav-previous{
      float: left;
      &:before{
        content: '\f060';
        left: -15px;
      }
      &:hover{
        &:before{
          left: -20px;
        }
      }
    }
    .nav-next{
      float: right;
      &:after{
        content: '\f061';
        right: -15px;
      }
      &:hover{
        &:after{
          right: -20px;
        }
      }
    }
  }
}